{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}<div class="opacity-50">
    <img src="https://images.unsplash.com/photo-1520050206274-a1ae44613e6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8&w=1000&q=80" style="width:100%;height: 500px;" class="img-fluid" alt="snow">
    </div>
    <h1 class = " text-center">About Us</h1>
     <<div class="mx-auto" style="width: 900px;">
         <h2>We ReImagine The Way The World Moves For</h2>
     <h2> The Better</h2>
      We are RentMe. The go-getters. The kind of people who are relentless about our mission to help people go anywhere and get anything
         and earn their way. Movement is what we power. It’s our lifeblood. It runs through our veins. It’s what gets us out of bed each morning.
         It pushes us to constantly reimagine how we can move better. For you. For all the places you want to go. For all the things you want to get.
         For all the ways you want to earn. Across the entire world. In real time. At the incredible speed of now.
         We are a tech company that connects the physical and digital worlds to help make movement happen at the tap of a button.
         Because we believe in a world where movement should be accessible.
    So you can move and earn safely.</p>
         In a way that’s sustainable for our planet. And regardless of your gender, race, religion, abilities, or sexual orientation,
         we champion your right to move and earn freely and without fear. Of course, we haven’t always gotten it right. But we’re not afraid of failure,
         because it makes us better, wiser, and stronger. And it makes us even more committed to do the right thing by our customers,
         local communities and cities, and our incredibly diverse set of international partners.
         The idea for RentMe was born on a snowy night in Sialkot in 2022, and ever since then our DNA of reimagination and reinvention carries on.
    We’ve grown into a global platform powering flexible earnings and the movement of people and things in ever expanding ways.</p>
         We’ve gone from connecting rides on 4 wheels to 2 wheels to 18-wheel freight deliveries.
         From takeout meals to daily essentials to prescription drugs to just about anything you need at any time and earning your way.
         From drivers with background checks to real-time verification, safety is a top priority every single day.
         At RentMe, the pursuit of reimagination is never finished, never stops, and is always just beginning.
<div>
{% endblock body %}