{% extends 'base.html' %}
{% block title %}Page{% endblock title %}
{% block body %} <html>
<head>
	<style type="text/css">
		.sidenav {
			height:100%;
			width:260px;
			position: fixed;
			z-index:1;
			top:1;
			left:0;
			background-color:#1b1b1b;
			overflow-x: :hidden;
			padding-top:20px;
		}

		.sidenav a {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:25px;
			color: #818181;
			display:block;
		}

		.sidenav a:hover{
			color:#f1f1f1;
		}

		.main{
			margin-left:160px;
			padding: 0px 10px;
		}

	</style>
</head>

<body>
	<div class="sidenav">
        <a href="/book">Book A Car</a>
		<a href="/history">My Bookings History</a>
		<a href="/login">Log Out</a>
	</div>

	{% block content %}
	{% endblock %}
 <<div class="mx-auto" style="width: 800px;">
      <!-- Name input -->
      <ul>
          {% for Car_Selection in cars %}
              <div class="container">
  <div class="row align-items-start">
    <div class="col">
        <b>VEHICLE_ID</b>
    </div>
    <div class="col">
        <b>MODEL</b>
    </div>
    <div class="col">
        <b>COLOR</b>
    </div>
      <div class="col">
     <b>CAPACITY</b>
    </div>
      <div class="col">
      <b>RENTAL RATE</b>
    </div>
       <div class="col">
      <b>LOCATION</b>
    </div>
  </div>
                  <div class="row align-items-end">
    <div class="col">
      {{ Car_Selection.vehicle_id}}
    </div>
    <div class="col">
       {{  Car_Selection.model }}
    </div>
    <div class="col">
       {{  Car_Selection.color }}
    </div>
      <div class="col">
       {{  Car_Selection.seating_capacity }}
    </div>
      <div class="col">
       {{  Car_Selection.rental_rate }}
    </div>
       <div class="col">
       {{  Car_Selection.Location }}
    </div>


  </div>
</div>
          {% endfor %}

      </ul>
      <!-- Submit button -->
      <a class="btn btn-primary" href="/info" role="button">Book</a>
  </div>
</body>
</html>

{% endblock body %}





