{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}
{% block body %}
    <img src='https://cdn-icons-png.flaticon.com/512/281/281769.png?w=360'  class="img-fluid" style="width:100%;height:500px">
     <<div class="mx-auto" style="width: 900px;">
    <form method = "post" action = "/contact">
    {% csrf_token %}
        <div class="mb-3">

        <label for="exampleInputEmail1" class="form-label">Enter Your Name</label>
        <input type="name" class="form-control" id="exampleInputEmail1" name = 'name' aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
        </div>
         <div class="mb-3">

        <label for="exampleInputEmail1" class="form-label">Enter Your Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name = 'email' aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">It should be unique</div>
        </div>
         <div class="mb-3">

        <label for="exampleInputEmail1" class="form-label">Enter Phone Number</label>
        <input type="phone" class="form-control" id="exampleInputEmail1" name = 'phone' aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
        </div>
         <div class="mb-3">

       <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" name = 'text' rows="3"></textarea>
</div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>{% endblock body %}