{% extends 'base.html' %}
{% block title %}how RentMe Works{% endblock title %}
{% block body %}<<div class="mx-auto" style="width: 900px;">
 <h1>How to use the RentMe app</h1>
    <p></p>
    Our core service is developing technology that connects drivers and riders on demand.<br>
    Here’s how the app works, step by step:<p></p>
    <h3>Step 1</h3><p></p>
  <h4>A rider opens the app</h4>
    The rider enters their destination into the “Where to?” box; reviews each ride option for vehicle size,
    price, and estimated dropoff time;
    chooses the desired option; then confirms the pickup.<p></p>
   <h3>Step 2</h3><p></p>
  <h4>The rider is matched with a driver</h4>
    A nearby driver sees and chooses to accept the rider’s ride request.
    The rider is automatically notified when the driver’s vehicle is about a minute away.<p></p>
   <h3>Step 3</h3><p></p>
  <h4>The driver picks up the rider</h4>
  The driver and the rider verify each other’s names and the destination.
    Then the driver starts the ride.<p></p>
<h3>Step 4</h3><p></p>
  <h4>The driver takes the rider to the destination</h4>
 The app gives the driver the option to access turn-by-turn directions.<p></p>
<h3>Step 5</h3><p></p>
  <h4>The driver and rider leave ratings and reviews</h4>
 At the end of each trip, drivers and riders can rate each other from 1 to 5 stars.
    Riders also have the option to give the driver compliments and a tip directly in the app.<p></p>

</div>
{% endblock body %}