{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{% block body %}
     <<div class="mx-auto" style="width: 500px;">
     <form  method = "POST" action = "/register">
    {% csrf_token %}
      <!-- Name input -->
      <div class="form-outline mb-4">
        <input type="text" id="registerName" name = "first name" class="form-control" />
        <label class="form-label" for="registerName">First Name</label>
      </div>

      <!-- Username input -->
      <div class="form-outline mb-4">
        <input type="text" id="registerUsername" name = "last name" class="form-control" />
        <label class="form-label" for="registerUsername">Last Name</label>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="registerEmail" name = "email"class="form-control" />
        <label class="form-label" for="registerEmail">Email</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="registerPassword" name = "password" class="form-control" />
        <label class="form-label" for="registerPassword">Password</label>
      </div>

      <!-- Repeat Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="registerRepeatPassword" class="form-control" />
        <label class="form-label" for="registerRepeatPassword">Repeat password</label>
      </div>
     <div class="form-check">
  <input class="form-check-input" type="radio" value="employee" name="checkbox2" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Employee
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio"value="member" name="checkbox2" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Member
  </label>
</div>
      <!-- Checkbox -->
      <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
          aria-describedby="registerCheckHelpText" />
        <label class="form-check-label" for="registerCheck">
          I have read and agree to the terms
        </label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-3">Sign Up </button>
      <div class="text-center">
        <p>Already have a Account? <a href="/login">Login</a></p>
      </div>
    </form>
  </div>
</div>
    </div>
{% endblock body %}